.header h2{
    width: 100%;
    text-align: center;
}
.header::before{
    padding-top: 25%;
}
.header h2 img{
    width: 50%;
}
.header ul{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    right: -100%;
    top:0;
    transition: all 0.5s;
}
.header .right{
    right:0;
}
.header li{
    width: 100%;
    height: 20%;
    line-height: 25vmax;
    text-align: center;
}
.header li a{
    color:white;
    font-size: 3vw;
}
.content .aside,
.content .section{
    width: 100%;
}
.section :nth-child(1),
.section :nth-child(2),
.section :nth-child(3),
.section :nth-child(4){
    width: 100%;
}
.aside li p{
    line-height: 3em;
    font-size: 2em;
}
.header svg{
    width: 5.5%;
    position: absolute;
    right: 2%;
    top: 57%;
    transform: translateY(-50%);
    z-index: 11;
    display: block;
    cursor: pointer;
}
.header svg:hover{
    fill: lightgrey;
}

